

.main-section {
    display: flex;
    position: relative;
}

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/HomeBackGroundImage.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 0.15; 
    z-index: -1; 
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.right-section {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    position: relative;
}

.right-section .top-image, .right-section .bottom-text {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.content {
    box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.2);
}

.content:hover{
    background-color: #FFE09E;
    opacity: 0.6;
}

.content, .text-content {
    margin: auto;
    text-align: center;
    width: 80%; 
    padding: 20px;
}

.top-image img {
    width: 40%;
    height: 80%;
    display: block; 
}

.bottom-text {
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

@media (max-width: 768px) { 
    .main-section, .left-section, .right-section {
        flex-direction: column; 
    }

    .top-image img {
        width: 50%;
        height: auto; 
    } 
    
    .bottom-text {
        width: 100%; /* Adjust image and text box width for better fit */
    }
}

@media (max-width: 480px) { /* For mobile */
    .content, .text-content {
        width: 100%; /* Use full width for mobile view */
    }

    .top-image img {
        width: 80%; /* Adjust image size for mobile */
        height: auto; /* Maintain aspect ratio */
    }
}