
.main-section h1,
.main-section p {
    text-align: center;
}

.carousel {
    position: relative;
    align-items: center;
    width: 100%; 
    min-height: 100vh; 
    overflow: hidden; /* Hide overflowed parts of images */    
}

.carousel-images img {
    /* .carousel-images .carousel-image { */
    width: 50%; 
    min-height: 50%; 
    max-height: 100%; 
    position: absolute;
    transform: translate(50%, 0%); /* Adjust based on top/left centers */
    display: none; 
    background-color: #FFE09E;
    box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.2);
    padding: 20px;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.2);
    color: var(--textColor);
    background-color: #FFE09E;
    opacity: 0.8;
    font-size: --textSize;
    padding: 30px;
    line-height: 1.5;
    box-sizing: border-box;
}

.carousel-image.active {
    display: block; /* Only show the active image */
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

button.prev {
    left: 10%;
}

button.next {
    right: 10%;
}

@media (max-width: 768px) {

    .carousel {
        min-height: 100vh; 
    }

    .carousel-images img {
        max-width: 80%;
        transform: translate(50%, 0%)
    }

    button.prev {
        left: 5px;
    }
    
    button.next {
        right: 5px;
    }

}

@media (max-width: 480px) {

    .carousel {
        min-height: 90vh; 
    }

    .carousel-images img {
        width: 100%;
        transform: translate(12%, 10%)
    }

    button.prev {
        left: 0px;
    }
    
    button.next {
        right: 0px;
    }

}