
:root {
    --navbarHeight: 5em;  /* Define the variable */
    --buttonBackGround: #9EBDFF;

    --headingSize: 36px;
    --headingFamily: 'Raleway', sans-serif;
    --headingColor: #0462A6;
    --headingWeight: 600;

    --heading2Size: 28px;
    --heading2Family: 'Raleway', sans-serif;
    --heading2Color: #0462A6;
    --heading2Weight: 500;

    --heading3Size: 24px;
    --heading3Family: 'Raleway', sans-serif;
    --heading3Color: #0462A6;
    --heading3Weight: 400;

    --textSize: 20px;
    --textFamily: 'Open Sans', sans-serif;
    --textColor: #000000;
    --textWeight: 300;

}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-section {
    display: flex;
    height: 100vh; /* Full viewport height */
    position: relative;
}

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/HomeBackGroundImage.png'); /* Adjust the path as needed */
    background-size: contain; /* Ensures the image is scaled to fit within the dimensions */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    opacity: 0.15; /* Sets the opacity to 15% */
    z-index: -1; /* Ensures the pseudo-element is behind the content */
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; /* Required to stack above the pseudo-element */
}
/* 
.left-section{
    background-color: cadetblue;
} */

.left-section .content h1 {
    color: var(--headingColor);
    font-family: var(--headingFamily);
    font-size: var(--headingSize);
    font-weight: var(--headingWeight);
}

.left-section .content p {
    color: var(--textColor);
    font-family: var(--textFamily);
    font-size: var(--textSize);
    font-weight: var(--textWeight);
}
.right-section {
    flex: 1; /* Takes up full space available in its parent container */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    position: relative;
}

.right-section .top-image, .right-section .bottom-text {
    flex: 1; /* Each child will take an equal portion of the right-section's height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 20px; /* Add padding for better spacing of the content */
}
/* 
.right-section .top-image {
    background-color: rgb(139, 85, 15); /* Specific background for the top image area 
} */
/* 
.right-section .bottom-text {
    background-color: burlywood; /* Specific background for the bottom text area 
} */
.right-section .bottom-text h2 {
    color: var(--heading2Color);
    font-family: var(--heading2Family);
    font-size: var(--heading2Size);
    font-weight: var(--heading2Weight);
}

.right-section .bottom-text h3 {
    color: var(--heading3Color);
    font-family: var(--heading3Family);
    font-size: var(--heading3Size);
    font-weight: var(--heading3Weight);
}

.content, .text-content {
    margin: auto;
    text-align: left;
    width: 80%; /* Adjust width as needed */
}

.top-image img {
    width: 40%;
    height: 80%;
    display: block; /* This ensures no extra space below the image */
}

.bottom-text {
    flex-grow: 1;
    display: flex;
    align-items: center; /* Centers vertically in the div */
    justify-content: center; /* Centers horizontally */
}

.bottom-text .text-content p {
    color: var(--textColor);
    font-family: var(--textFamily);
    font-size: var(--textSize);
    font-weight: var(--textWeight);
}
a, button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--buttonBackGround);
    font-family: var(--textFamily);
    color: var(--textColor);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover, a:hover {
    background-color: #0056b3;
}
