

.main-section {
    display: flex;
    position: relative;
}

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/HomeBackGroundImage.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 0.15; 
    z-index: -1; 
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; /* Required to stack above the pseudo-element */
}

.right-section {
    flex: 1; /* Takes up full space available in its parent container */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    position: relative;
}

.right-section .top-image, .right-section .bottom-text {
    flex: 1; /* Each child will take an equal portion of the right-section's height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 20px; /* Add padding for better spacing of the content */
}

.content, .text-content {
    margin: auto;
    text-align: center;
    width: 80%; /* Adjust width as needed */
}

.top-image img {
    width: 40%;
    height: 80%;
    display: block; /* This ensures no extra space below the image */
}

.bottom-text {
    flex-grow: 1;
    display: flex;
    align-items: center; /* Centers vertically in the div */
    justify-content: center; /* Centers horizontally */
}

@media (max-width: 768px) { /* For tablet and below */
    .main-section, .left-section, .right-section {
        flex-direction: column; /* Stack elements vertically for smaller screens */
    }

    .top-image img {
        width: 50%;
        height: auto; /* Maintain aspect ratio */
    } 
    
    .bottom-text {
        width: 100%; /* Adjust image and text box width for better fit */
    }
}

@media (max-width: 480px) { /* For mobile */
    .content, .text-content {
        width: 100%; /* Use full width for mobile view */
    }

    .top-image img {
        width: 80%; /* Adjust image size for mobile */
        height: auto; /* Maintain aspect ratio */
    }
}