

footer {
    color: var(--textColor);
    /* background: linear-gradient(0deg, rgba(153,134,95,1) 0%, rgba(255,224,158,1) 100%);; */
    background-color: rgba(255,224,158,0.50);
    padding: 5px;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.section1,
.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 2em;
}
.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    gap: 2em;
}

.Footerlogo {
    width: 10vw;  
    height: var(--navbarHeight); 
    background-image: url('/images/logo.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-width: 100px; 
    max-width: 175px; 
}

.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 2em;
}

.logo img, .social-icons img {
    width: 50px; /* Adjust size as needed */
}

/* Responsive adjustments */
@media (max-width: 1025px) {
    .footer-section {
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    .footer-section {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    .footer-section {
        flex-direction: column;
        justify-content: space-around;
    }
}
