

.navsection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    height: var(--navbarHeight);
    margin: 0;
    box-sizing: border-box; 
    background: linear-gradient(180deg, rgba(153,134,95,1) 0%, rgba(255,224,158,1) 50%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.navbar {    
    width: var(--pageWidth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    height: var(--navbarHeight);  
    position: relative;
    margin: 0;
    background: linear-gradient(180deg, rgba(153,134,95,1) 0%, rgba(255,224,158,1) 50%);
}

.navbar .logo {
    width: 25vw;  
    height: var(--navbarHeight); 
    background-image: url('/images/logo.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-width: 100px; 
    max-width: 175px; 
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* This makes the nav-links grow to use up available space */
}

.nav-sublinks {
    display: flex;
    list-style-type: none; 
    padding: 0; 
}

.nav-button {
    display: flex;
    align-items: center;
}

.nav-links > div:first-child,
.nav-links > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; 
    gap: 10px;
}

.nav-links li {
    padding: 10px 15px;
    align-items: center;
}

.nav-links .dropdown-content {
    display: none;
    flex-direction: column; 
    width: 100%; 
    align-items: center;    
    border-top: 0.5px solid black;
    position: absolute;
    /* https://cssgradient.io/ */
    background: linear-gradient(180deg, rgba(153,134,95,1) 0%, rgba(255,224,158,1) 50%);
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    left: 0;
    right: 0;
    top: 100%;
}

.dropdown-content .contact p {
    font-size: small;
}

.nav-links .dropdown-content > div:first-child {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    width: 100%; 
    align-items: center;
    gap: 8em;
}

.nav-links .dropdown-content > div:nth-child(2) {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    width: 100%; 
    align-items: baseline;
    gap: 2em;
}
.nav-links .dropdown-content > div:nth-child(2) a {
    text-decoration: underline;
}

.burger {
    display: none;
    cursor: pointer;
    background: var(--buttonBackGround);
    padding: 4px;
}

.burger span {
    display: block;
    width: 6vw;
    height: 3px;
    margin: 5px;
    background-color: #333;
}

/* .nav-links.active {
    display: flex; 
    flex-direction: column;
} */

@media (min-width: 768px) and (max-width: 1026px) {

    .navbar .logo {
        width: 20vw; 
    }
    .nav-links li {
        padding: 0 10px; 
    }
}


@media (max-width: 768px) {

    .logo {
        width: 20vw; 
    }

    .nav-links {
        display: none; 
    }

    .navbar {
        padding: 5px;
    }

    .nav-links.active {
        display: flex; 
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
        width: 100%; /* Optional: Adjust according to your design needs */
        position: absolute;
        /* background-color: #FFE09E;  */
        background: linear-gradient(180deg, rgba(153,134,95,1) 0%, rgba(255,224,158,1) 50%);
        top: 100%; /* Start from the bottom of the navbar */
        left: 0; /* Align to the left */
        z-index: 10; /* Make sure it's above other content */
        padding: 20px;
        margin: 0;
    }

    .nav-links.active .dropdown-content {
        background: none;
        position: relative;    
    }
    .nav-links.active .dropdown-content > div:first-child {
        flex-direction: column; 
        align-items: flex-start;
        padding: 0 0 0 40px;
        gap: 1em;
    }

    .nav-links.active .nav-sublinks {
        flex-direction: column;
        gap: 5px
    }

    .burger {
        display: block; 
    }
}
/* 
@media (max-width: 479px) {
    .navbar {
        padding: 5px 10px; 
    }

    .burger span {
        height: 2px; 
    }
} */
