

/* Base style */
html {
    font-size: 18px;
}
.main-section {
    width: 100%; /* Full width by default */
    max-width: var(--pageWidth); /* Maximum width to control layout on large screens */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0px; /* Default padding */
}

/* Adjustments for smaller devices below the max-width of the container */
@media (max-width: 1024px) {
    html {
        font-size: 16px;
    }
    .main-section {
        padding: 15px; /* Slightly reduced padding for smaller devices */
    }
}

/* Adjustments for even smaller devices */
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .main-section {
        padding: 10px; /* Even smaller padding for mobile devices */
    }
}

/* Further adjustments if necessary */
@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
    .main-section {
        padding: 5px; /* Minimal padding for very small screens */
    }
}



:root {
    --pageWidth: 1440px;
    --navbarHeight: 5em;  
    --footerHeight: 10rem;
    --buttonBackGround: #9EBDFF;
    --buttonHover: #FFE09E;

    --headingSize: clamp(1.75rem, 5vw, 2.25rem); /* h1 size */
    --headingFamily: 'Raleway', sans-serif;
    --headingColor: #0462A6;
    --headingWeight: 600;

    --heading2Size: clamp(1.50rem, 3vw, 1.75rem); /* h2 size */
    --heading2Family: 'Raleway', sans-serif;
    --heading2Color: #0462A6;
    --heading2Weight: 500;

    --heading3Size: clamp(1.10rem, 2.25vw, 1.25rem); /* h3 size */
    --heading3Family: 'Raleway', sans-serif;
    --heading3Color: #0462A6;
    --heading3Weight: 400;

    --textSize: clamp(1rem, 2vw, 1.15rem);
    --textFamily: 'Open Sans', sans-serif;
    --textColor: #000000;
    --textWeight: 300;
}

* {
    box-sizing: border-box; /* Makes sure padding and borders are included in the total width and height */
}

body {
    /* font-family: 'Open Sans', sans-serif; */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    position: relative;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw; /* Ensures the body takes full width */
    height: 100vh; /* Optional: Ensures the body takes full height */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    background-color: rgba(255,224,158,0.10);
}

.body-content {
    transition: var(--navbarHeight) 0.3s ease; /* Smooth transition for padding adjustment */
}

h1 {
    color: var(--headingColor);
    font-family: var(--headingFamily);
    font-size: var(--headingSize);
    font-weight: var(--headingWeight);
}

h2 {
    color: var(--heading2Color);
    font-family: var(--heading2Family);
    font-size: var(--heading2Size);
    font-weight: var(--heading2Weight);
}

h3 {
    color: var(--heading3Color);
    font-family: var(--heading3Family);
    font-size: var(--heading3Size);
    font-weight: var(--heading3Weight);
}

p {
    color: var(--textColor);
    font-family: var(--textFamily);
    font-size: var(--textSize);
    font-weight: var(--textWeight);
}

a {
    display: inline-block;
    padding: 10px 20px;
    font-family: var(--textFamily);
    color: var(--textColor);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button {
    /* width: 100%;  */
    max-width: 200px; 
    /* height: 2.5em;  */
    padding: 0.5em 1em; 
    font-size: 1rem; 
    font-family: var(--textFamily);
    background-color: var(--buttonBackGround);
    color: var(--textColor); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    box-sizing: border-box; 
    transition: var(--buttonHover) 0.3s; 
}

button:hover, a:hover {
    background-color: var(--buttonHover); 
}




/* FOOTER */
footer {
    position:sticky;
    bottom:0;
    left:0;    
    width: 100%;
    /* background: linear-gradient(0deg, rgba(153,134,95,1) 0%, rgba(255,224,158,1) 100%);; */
    background-color: rgba(255,224,158,1);
    text-align: center;
}

.footer-section {
    display: flex;   
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.footer-section .section1,
.footer-section .section2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-section .section1 {
    justify-content: space-around;
}

.footer-section .section2 {
    justify-content: center;
}

.Footerlogo {
    width: 10vw;  
    height: var(--navbarHeight); 
    background-image: url('/images/logo.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-width: 100px; 
    max-width: 175px; 
}

.logo img, .social-icons img {
    width: 25px; /* Adjust size as needed */
}


@media (max-width: 767px) {

    .footer-section .section1,
    .footer-section .section2 {
        flex-direction: column;
        margin-bottom: 0px;
        gap: 0em;
    }
}
