<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deedeveloper</title>
    <link rel="stylesheet" href="/css/styleFooter.css">
</head>

<body>
    <footer>
        <div class="footer-section">
        <div class="section1">
            <div class="Footerlogo">
                <!-- Replace src with your logo image path -->
                <!-- <img src="logo.png" alt="Logo"> -->
            </div>
            <div class="links">
                <a href="about.html">About me</a>
                <a href="contact.html">Contact</a>
                <!-- <a href="#link3">Services</a>
                <a href="#link4">FAQ</a> -->
            </div>
            <div class="social-icons">
                <!-- Add icons or images for social media links -->
                <a href="#facebook"><img src="/images/icons/Facebook.png" width="15px" height="25px" alt="Facebook"></a>
                <a href="#twitter"><img src="/images/icons/lInkedIn.png" width="15px" height="25px" alt="Twitter"></a>
                <a href="#instagram"><img src="/images/icons/YouTube.png" width="15px" height="25px" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer-section section2">
            <div class="copyright">
                &copy; 2024 Deedeveloper.com
            </div>
            <div class="legal">
                <a href="#privacy">Privacy Policy</a>
            </div>
        </div>
    </div>
    </footer>    

    <script src="/js/scriptFooter.js"></script>
</body>

</html>