<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deedeveloper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Navigation Markup -->
    <nav class="navbar">
        <div class="logo">
            <a href="#">Logo</a>
        </div>
        <ul class="nav-links">
            <div class="nav-sublinks">
                <li><a href="#">Home</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Gallery</a></li>
                <!-- <li><a href="#">More</a></li> -->
                <li class="more"> <!-- Dropdown Trigger -->
                    <a href="#">More</a>
                    <div class="dropdown-content"> <!-- Dropdown Content -->
                        <div>
                            <a href="#">Testimonial</a>
                            <a href="#">Travel</a>
                            <a href="#">InternShip</a>
                            <a href="#">MemberShip</a>
                        </div>
                        <div>
                            <a href="#">Contact Me</a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="nav-button">
                <button><a href="#">Contact</a></button>
                <button><a href="#">About Me</a></button>
            </div>
        </ul>


        <button class="burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
    <script src="/js/script.js"></script>
</body>

</html>