<footer>
    <div class="footer-section">
        <div class="section1">
            <div class="Footerlogo">
            </div>
            <div class="links">
                <!-- <a href="about.html">About me</a> -->
                <a href="contact.html">Contact</a>
            </div>
            <div class="social-icons">
                <a href="#facebook"><img src="/images/icons/Facebook.png" width="15px" height="25px" alt="Facebook"></a>
                <a href="#twitter"><img src="/images/icons/lInkedIn.png" width="15px" height="25px" alt="Twitter"></a>
                <a href="#instagram"><img src="/images/icons/YouTube.png" width="15px" height="25px"
                        alt="Instagram"></a>
            </div>
        </div>
        <div class="section2">
            <div class="copyright">
                &copy; 2024 Deedeveloper.com
            </div>
            <div class="legal">
                <a href="#privacy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>