
<section class="navsection">
    <nav class="navbar">
        <div class="logo">
        </div>
        <ul class="nav-links">
            <div class="nav-sublinks">
                <li><a href="index.html">Home</a></li>
                <!-- <li><a href="About.html">About</a></li> -->
                <li><a href="testimonials.html">Testimonial</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class="more">
                    <a href="#">More</a>
                    <div class="dropdown-content">
                        <div>
                            <a href="skills.html">Skills</a>
                            <a href="travel.html">✈️ Travel</a>
                            <a href="internship.html">💳 InternShip</a>
                            <a href="membership.html">✅ MemberShip</a>
                        </div>
                        <div class="contact">
                            <p>Get In Touch</p>
                            <a href="contact.html">Contact Me</a>
                        </div>
                    </div>
                </li>
            </div>
            <!-- <div class="nav-button">
                <button onclick="location.href='contact.html'">Contact</button>
                <button onclick="location.href='about.html'">About Me</button>
            </div> -->
        </ul>
        <button class="burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</section>